<div>
  <h4 class="c-grey-900 mT-10 mB-30">Policy Detail</h4>
  <div class="row">
  	<div class="col-md-12 mB-20">
  		<div class="bgc-white p-20 bd">
        <div class="flex col-md-12">
          <div class="col-md-6 right">
            <h6>Policy ID:</h6>
          </div>
          <div class="col-md-6 ">
            <h6>{{policyInfo.id}}</h6>
          </div>
        </div>
        <div class="flex col-md-12">
          <div class="col-md-6 right">
            <h6>Policy name:</h6>
          </div>
          <div class="col-md-6 ">
            <h6>{{policyInfo.policy_name}}</h6>
          </div>
        </div>

        <div class="layers">
          <div class="layer w-100">
            <!-- Progress Bars -->
            <div class="layers">
              <div class="layer w-100">
                <h6 class="mB-5">{{policyData.numOfpass}}/{{policyData.total}}</h6>
                <small class="fw-600 c-grey-700"># of pass / # of total rules</small>
                <span class="pull-right c-grey-600 fsz-sm">{{policyData.hostPassRate}}%</span>
                <div class="progress mT-10">
                  <div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{width: policyData.hostPassRate + '%'}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</div>
    <div class="col-md-12 mB-20">
      <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900 mB-20">Alert Setting</h6>
        <div class="col-md-12 flex">
          <div class="col-md-6">
            <div class="col-md-12 c-grey-900 mB-20 center">Social Accounts</div>

            <div class="col-md-12 flex">
              <div class="col-md-4 checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="alertSetting.socialAccount.facebook" class="peer">
                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Facebook</span>
                </label>
              </div>

              <div class="col-md-4 checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="alertSetting.socialAccount.twitter" class="peer">
                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Twitter</span>
                </label>
              </div>

              <div class="col-md-4 checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="alertSetting.socialAccount.instagram" class="peer">
                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Instagram</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="col-md-12 c-grey-900 mB-20 center">Alert Methods</div>
            <div class="col-md-12 flex">
              <div class="col-md-4 checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="alertSetting.alertMethod.email" class="peer">
                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Email</span>
                </label>
              </div>

              <div class="col-md-4 checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="alertSetting.alertMethod.text" class="peer">
                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Text</span>
                </label>
              </div>

              <div class="col-md-4 checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="alertSetting.alertMethod.phone" class="peer">
                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Phone</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <h6 class="c-grey-900 mB-20">Rules List</h6>

        <div class="add-new-rule">
          <button type="button" class="btn cur-p btn-outline-primary" ng-click="showAddNew=!showAddNew">Add New</button>
        </div>

        <div ng-show="showAddNew">
          <div class="masonry-item mB-20">
            <div class="bgc-white p-20 bd">
              <h6 class="c-grey-900">Add New Rule</h6>
              <div class="mT-30">
                <form>
                  <div class="form-group">
                    <label for="ruleName">Rule Name</label>
                    <i class="text-danger ti-medall" data-toggle="tooltip" data-placement="right" title="Required Field"></i>
                    <input id="ruleName" type="text" class="form-control" ng-model="ruleInfo.name" ng-focus="validation=true" placeholder="Enter Rule Name">
                    <!--<small id="policyHelp" class="form-text text-muted">Corresponding to ...</small>-->
                  </div>

                  <div class="form-group">
                    <label for="ruleContent">Rule Content</label>
                    <i class="text-danger ti-medall" data-toggle="tooltip" data-placement="right" title="Required Field"></i>
                    <input id="ruleContent" type="text" class="form-control" ng-model="ruleInfo.content" ng-focus="validation=true" placeholder="Enter Rule Content">
                    <!--<small id="policyHelp" class="form-text text-muted">Corresponding to ...</small>-->
                  </div>
                  
                  <div id="alertMess" ng-show="!validation" class="alert alert-warning" role="alert">
                    {{alertMessage}}
                  </div>
                  <div id="errorMess" class="alert alert-danger display-none" role="alert">
                    {{errorMessage}}
                  </div>
                  <div id="successMess" class="alert alert-primary display-none" role="alert">
                    {{successMessage}}
                  </div>
                  <div>
                    <button type="button" class="btn cur-p btn-outline-primary" ng-click="showAddNew=!showAddNew">Close</button>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addRuleModal">Submit</button>
                  </div>
                  <div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog" aria-labelledby="addRuleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addRuleModalLabel">Add New Rule</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Confirm to add the following rule: </p>
                          <p>Rule Name: {{ruleInfo.name}}</p>
                          <p>Rule Content: {{ruleInfo.content}}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewRule()">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <table id="hostsDataTable" class="table table-bordered ta-c" cellspacing="0" width="100%">
            <thead class="thead-dark">
              <tr>
                <th>Rule ID</th>
                <th>Rule Name</th>
                <th>Rule Content</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer hov" ng-repeat="rule in ruleList">
                <td>{{rule.id}}</td>
                <td>{{rule.rule_name}}</td>
                <td>{{rule.rule_content}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Rule ID</th>
                <th>Rule Name</th>
                <th>Rule Content</th>
              </tr>
            </tfoot>
          </table>
      </div>
    </div>
  </div>
</div>
<div id="hostDetial" ui-view></div>
