<div class="peers ai-s fxw-nw h-100vh">
  <div class="peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("img/bg.jpg")'>
    <div class="pos-a centerXY">
      <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
        <img class="pos-a centerXY" style='height: 50px;' src="img/icons/logo.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
    <h4 class="fw-300 c-grey-900 mB-40">Register</h4>
    <form>
      <div class="form-group">
        <a href="/#/login">< Back</a>
      </div>
      <div class="form-group">
        <label class="text-normal text-dark">Username</label>
        <input type="text" class="form-control" ng-model="userInfo.userName" ng-focus="validation=true" Placeholder='John Doe'>
      </div>
      <div class="form-group">
        <label class="text-normal text-dark">Email Address</label>
        <input type="email" class="form-control" ng-model="userInfo.email" ng-focus="validation=true" Placeholder='name@email.com'>
      </div>
      <div class="form-group">
        <label class="text-normal text-dark">Password</label>
        <input type="password" class="form-control" ng-model="userInfo.password" ng-focus="validation=true" placeholder="Password">
      </div>
      <div class="form-group">
        <label class="text-normal text-dark">Confirm Password</label>
        <input type="password" class="form-control" ng-model="userInfo.repassword" ng-focus="validation=true" placeholder="Password">
      </div>
      <div class="form-group center">
        <button class="btn btn-primary" ng-click="register()">Register</button>
      </div>
      <div id="alertMess" ng-show="!validation" class="alert alert-warning" role="alert">
        {{alertMessage}}
      </div>
      <div id="errorMess" class="alert alert-danger display-none" role="alert">
        {{errorMessage}}
      </div>
      <div id="successMess" class="alert alert-primary display-none" role="alert">
        {{successMessage}}
      </div>
    </form>
  </div>
</div>


<div id="errorMess" class="alert alert-danger display-none" role="alert">
	{{errorMessage}}
</div>
