.p-left-30 {
	padding-left: 30px !important;
}

.p-right-30 {
	padding-right: 30px !important;
}

.p-left-10 {
	padding-left: 10px !important;
}

.p-right-10 {
	padding-right: 10px !important;
}

.p-top-30 {
	padding-top: 30px !important;
}

.p-top-20 {
	padding-top: 20px !important;
}

.p-bottom-30 {
	padding-bottom: 30px !important;
}

.pointer {
	cursor: pointer;
}

.nodrop {
	cursor: no-drop !important;
}

.hov:hover {
	background-color: #e0e0e0; //str-grey-300
}

.flex {
	display: flex !important;
	flex-wrap: wrap;
}

.float-left {
	float: left;
	padding-right: 20px;
}

.text-area-500 textarea{
	width: 100%;
	height: 500px;
}

.trend-chart {
	padding: 30px 0px;
	background-color: white;
}

.display-none {
	display: none;
}

.width-100 {
	width: 100%;
}

.width-100-px {
	width: : 100px;
}

.center {
	text-align: center;
}

.add-new {
	position: absolute;
	right:20px;
	top:100px;
}

.add-new-rule {
	position: absolute;
	right:40px;
	top:15px;
}

.right {
	text-align: right;
}

.check-pass {
	font-size: 30px;
}

.check-fail {
	font-size: 30px;
}

.font-bold {
	font-weight: bold;
}

.td-overflow-hide td{
	max-width: 300px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/***   [ text color iventory ]
.text-danger {
	color: $default-danger;
}
.text-dark {
	color: $default-dark;
}
.text-grey {
	color: $default-grey;
}
.text-info {
	color: $default-info;
}
.text-primary {
	color: $default-primary;
}
.text-success {
	color: $default-success;
}
.text-text-color {
	color: $default-text-color;
}
.text-warning {
	color: $default-warning;
}
.text-white {
	color: $default-white;
}
***/
