<div>
  <h4 class="c-grey-900 mT-10 mB-30">Rule Detail</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="bgc-white p-20 mB-20 bd flex">
        <div class="col-md-3"><h6 class="c-grey-900">Policy ID: {{buildId}}</h6></div>
        <div class="col-md-3"><h6 class="c-grey-900">Rule ID: {{hostId}}</h6></div>
        <div class="col-md-3">
          <h6 class="c-grey-900">
            Result: 
            <span ng-show="hostData.host_detail_match" class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c badge-pill">{{hostData.host_detail_match ? 'Pass' : 'Fail'}}</span>
          
            <span ng-show="!hostData.host_detail_match" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">{{hostData.host_detail_match ? 'Pass' : 'Fail'}}</span>
          </h6>
        </div>
        <div class="col-md-3"><h6 class="c-grey-900">Updated Date: {{hostData.build_date}}</h6></div>
        <div ng-if="hostData.comment" class="col-md-12 p-top-20"><h6 class="c-grey-900">Comment: {{hostData.comment}}</h6></div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <h6 class="c-grey-900 mB-20">Rule match detail</h6>
        
        <table id="hostDataTable" class="table table-bordered ta-c" cellspacing="0" width="100%">
          <thead class="thead-dark">
            <tr>
              <th>Rule ID: {{hostId}}</th>
              <th>Condition1</th>
              <th>Condition2</th>
              <th>Condition3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Expected</th>
              <td>expected condition1</td>
              <td>expected condition2</td>
              <td>expected condition3</td>
            </tr>
            <tr>
              <th>Actual</th>
              <td>actual condition1</td>
              <td>actual condition2</td>
              <td>actual condition3</td>
            </tr>
          </tbody>
        </table>

      <div ng-show="!showHis" class="bd bgc-white ta-c bdT w-100 p-20">
        <a ng-click="showHistory()" href>Check Rule History</a>
      </div>

      <div id="hostHistroy" ng-show="showHis" class="bd bgc-white bdT w-100 p-20 mB-20">
        <h6 class="c-grey-900 mB-20">Rule History</h6>
        
        <table id="hostHistDataTable" class="table table-bordered ta-c" cellspacing="0" width="100%">
            <thead class="thead-dark">
              <tr>
                <th>Policy ID</th>
                <th>Policy Result</th>
                <th>Rule ID</th>
                <th>Rule Result</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer hov" ng-repeat="host in hostHistData" ui-sref="home.history.build_detail.host_detail({buildId:host.buildId, hostId: host.hostId})" ng-click="scrollTo('hostDetial')">
                <td>{{host.buildId}}</td>
                <td>
                  <span ng-show="host.buildPass" class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c badge-pill">{{host.buildPass ? 'Pass' : 'Fail'}}</span>
                  <span ng-show="!host.buildPass" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">{{host.buildPass ? 'Pass' : 'Fail'}}</span>
                </td>
                <td>{{host.hostId}}</td>
                <td>
                  <span ng-show="host.hostPass" class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c badge-pill">{{host.hostPass ? 'Pass' : 'Fail'}}</span>
                  <span ng-show="!host.hostPass" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">{{host.hostPass ? 'Pass' : 'Fail'}}</span>
                </td>
                <td>{{host.buildDate | utcToLocal}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Policy ID</th>
                <th>Policy Result</th>
                <th>Rule ID</th>
                <th>Rule Result</th>
                <th>Date</th>
              </tr>
            </tfoot>
        </table>
      </div>

      <div ng-show="showHis"class="bd bgc-white ta-c bdT w-100 p-20">
        <a ng-click="showHistory()" href>Close Rule History</a>
      </div>
    </div>
  </div>
</div>
