<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
        <!--
      <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Add New Sample Host</h6>
          <div class="mT-30">
            <form>
              <div class="form-group">
                <label for="osInput">OS</label>
                <i class="text-danger ti-medall" data-toggle="tooltip" data-placement="right" title="Required Field"></i>
                <input id="osInput" type="text" class="form-control" ng-model="hostSample.os" ng-focus="validation=true" placeholder="Enter OS">
                <small id="osHelp" class="form-text text-muted">Corresponding to attribute "os_classification"</small>
              </div>
              <div class="form-group">
                <label for="functionInput">Function</label>
                <i class="text-danger ti-medall" data-toggle="tooltip" data-placement="right" title="Required Field"></i>
                <input id="functionInput" type="text" class="form-control" ng-model="hostSample.prim" ng-focus="validation=true" placeholder="Enter Function">
                <small id="functionHelp" class="form-text text-muted">Corresponding to attribute "prim_classification"</small>
              </div>
              <div class="form-group">
                <label for="vendorInput">Vendor</label>
                <i class="text-danger ti-medall" data-toggle="tooltip" data-placement="right" title="Required Field"></i>
                <input id="vendorInput" type="text" class="form-control" ng-model="hostSample.vendor" ng-focus="validation=true" placeholder="Enter Vendor">
                <small id="vendorHelp" class="form-text text-muted">Corresponding to attribute "vendor_classification"</small>
              </div>
              <div class="form-group">
                <label for="hostInfoInput">Host Info Document</label>
                <i class="text-danger ti-medall" data-toggle="tooltip" data-placement="right" title="Required Field"></i>
                <div class="width-100 mB-20 text-area-500">
                  <textarea class="form-control bdc-grey-400" ng-model="hostSample.infoDocTextarea"></textarea>
                </div>
                <input id="hostInfoInput" class="form-control" fileread="hostSample.infoDoc" ng-focus="validation=true" type="file" name="file">
                <small id="documentHelp" class="form-text text-muted">A text file contains host info of the endpoint</small>
              </div>
              <div class="form-group">
                <label for="vendorInput">Comment</label>
                <div class="width-100">
                  <textarea class="form-control bdc-grey-400" ng-model="hostSample.comment"></textarea>
                </div>
                <small id="commentHelp" class="form-text text-muted">Comment or description about this host</small>
              </div>
              <div id="alertMess" ng-show="!validation" class="alert alert-warning" role="alert">
                {{alertMessage}}
              </div>
              <div id="errorMess" class="alert alert-danger display-none" role="alert">
                {{errorMessage}}
              </div>
              <div id="successMess" class="alert alert-primary display-none" role="alert">
                {{successMessage}}
              </div>
              <div>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">Submit</button>
              </div>
              <hr>
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" ng-model="hostSample.autoFormat" class="peer">
                <label class="peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Apply auto formatting</span>
                </label>
              </div>
              <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="submitModalLabel">Add New Sample Host Info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Attention! make sure following rules are fulfilled:</p>
                      <p>1. Raw Host Info - Auto Formatting ON</p>
                      <p>2. Formatted Host Info - Auto Formatting OFF</p>
                      <p>Current Auto formatting: <span class="font-bold ng-class:{'text-primary':hostSample.autoFormat, 'text-danger':!hostSample.autoFormat}">{{hostSample.autoFormat ? 'ON' : 'OFF'}}</span></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewSample()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      -->
      <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Manual Trigger User Content Scan</h6>
          <div class="mT-30">
            <p>Manual tigger session will immediately force content scan to start.</p>
            <p>You can only perform a manual scan once every 24 hours.</p>
            <p ng-show="disableTrigger" class="text-primary">Please wait for the trigger cool down to finish</p>
          </div>
          <div class="mT-30">
            <!-- Button trigger -->
            <button type="button" class="btn btn-primary ng-class:{'nodrop':disableTrigger}" data-toggle="modal" data-target="#triggerModal" ng-disabled="disableTrigger">
              <span id="triggerText">Trigger</span>
              <count-down-directive id="countDownTimer" countdownto="disableUntil" timeisup="timeIsUp">&nbsp;</count-down-directive>
            </button>

            <!-- Manual control disable cloak
            <hr>
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <i class="text-primary ti-info-alt p-right-10" data-toggle="tooltip" data-placement="right" title="Please use this disabler with the understanding of current running FRT cycle status!"></i>
              <input type="checkbox" ng-model="disableTrigger" class="peer">
              <label class="peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Trigger Button Disabler</span>
              </label>
            </div>
            -->
            <div id="triggerSuccessMess" class="alert alert-primary display-none mT-30" role="alert">
              {{triggerSuccessMessage}}
            </div>

            <!-- Warning & Alerting Modals -->
            <div class="modal fade" id="triggerModal" tabindex="-1" role="dialog" aria-labelledby="triggerModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="triggerModalLabel">Manual Trigger Content Scan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-danger">
                    Attention: Are you sure you want to manually trigger content scan?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="triggerCycle()" data-dismiss="modal">Trigger</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">Manual Trigger FRT Cycle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body ng-class:{'text-danger':cycleErrorMessage}">
                    {{cycleCompleteMessage ? cycleCompleteMessage : cycleErrorMessage}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
